
@{
    ViewBag.Title = "CDM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<br />

<div class="logo">
    <img src="~/Images/FabrikamLogo.png" alt="Fabrikam Logo" />
</div>

<br />

<div class="info">
    <p>
        Fabrikam College of Computing and Digital Media is a prestigious department within Fabrikam. 
        Students who are interested in a major contained in this college must apply for admission.
        3.3 GPA is required to apply, but even if this requirement is met the student is not guaranteed admission.
    </p>
    <br />

</div>

</body>
