body {
    background-color: grey;
}

h1 {
    text-align: center;
}



.navcontainer {
    /display: flex;
    /justify-content: center;
    background-color: darkgrey;
    text-align: center;
    /padding: 0;
    /margin: 0;
    /width: 50%;
    border: solid;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px;
    margin: 8px;
}

.navbar li a:hover {
    color: white;
    background-color: black;
}

.info p {
    border: solid;
    padding-top: 16px;
    /float: left;
    background-color: darkgrey;
    color: black;
}

footer {
    float: left;
    background-color: darkgrey;
    border: solid;
}

.classes {
    border: solid;
}
th {
    border: solid;
    background-color: darkgrey;
    color: black;
    text-decoration: none;
}

#jquery-slideshow-container {
overflow: hidden;
position: relative;
width: 100%;
height: 300px;
}

#jquery-slideshow-container #jquery-slideshow {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 300px;
}

    #jquery-slideshow-container #jquery-slideshow li {
        display: inline;
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        height: 300px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

        /* Let's have our A tag fill the entire slide */
        #jquery-slideshow-container #jquery-slideshow li a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            color: #ffffff;
            transition: color 0.2s ease-in;
        }

            #jquery-slideshow-container #jquery-slideshow li a:hover {
                color: #ef233c;
            }

            /* Position our caption at the bottom right corner of the slide */
            #jquery-slideshow-container #jquery-slideshow li a span {
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 0.75em 1.5em;
                font-size: 1.3em;
                background: #000000; /* fallback for old browsers */
                background: rgba(0, 0, 0, 0.8);
            }

/* Vertically center our buttons */
#jquery-slideshow-container #btn-prev,
#jquery-slideshow-container #btn-next {
    position: absolute;
    top: 50%;
    z-index: 100;
    color: #ffffff;
    font-size: 4em;
    line-height: 1;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    transform: translateY( -50% );
}

#jquery-slideshow-container #btn-prev {
    left: 15px;
}

#jquery-slideshow-container #btn-next {
    right: 15px;
}

    /* hide the text links */
    #jquery-slideshow-container #btn-prev span,
    #jquery-slideshow-container #btn-next span {
        display: none;
    }


td {
    border: solid;
    background-color: darkgrey;
    color: black;
}

.logo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.table {
    //float:right;
    display: flex;
    justify-content: center;
    margin: auto;
}

.campus {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact ul li{
    list-style-type:none;
}

.contact {
    border:solid;
    background-color: darkgray;
}

@media screen and (min-width: 800px) {
    .bigcontainer {
        display: flex;
    }
    
    .container {
       order: 2;
       flex: 3;
    }

    .content {
        display:flex;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
    }
    .logo {
        display: flex;
        justify-content: flex-end;
    }

    .info p {
        float: left;
    }
    .campus img{
        height:270px; 
        margin-right: 15px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        order: 1;
        flex: 1;
        align-items:center;
        
    }

    .contact {
        width: 270px;
        margin-right: 15px;
    }

    .sidebar img {
        margin-right: 15px;
        height: 270px;
    }



}