
@{
    ViewBag.Title = "CE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
<h1>College of Education</h1>
<br />

<div class="logo">
    <img src="FabrikamLogo.png" alt="Fabrikam Logo" />
</div>

<br />

<div class="info">
    <p>
        Fabrikam College of Education is where the great teachers of tomorrow are made. Those who graduate with a degree
        from this department go on to be great educators. Students wishing to take classes from this department must be accepted,
        as it is one of the top colleges of education in the country. 
    </p>
    <br />

</div>

</body>