
@{
    ViewBag.Title = "CL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fabrikam College of Law</title>
    <link rel="stylesheet" type="text/css" href="CDM.css" />
</head>

<h1>College of Law</h1>
<body>

<br />

<div class="logo">
    <img src="FabrikamLogo.png" alt="Fabrikam Logo" />
</div>

<br />

<div class="info">
    <p>
        Fabrikam College of Law is the premier law school of Fabrikam University. With some law greats such as 
        Saul Goodman, Kim Wexler, Jim Carey (from Liar Liar) we have some of the most useful law course content with tips
        and advice you will not find anywhere else.
    </p>
    <br />

</div>

</body>

<footer>
    Copyright Alexander Karadsheh
</footer>
</html>

